html{
    scroll-behavior: smooth;
}

.content.search_content{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
}

.search_header{
    width: 100%;
    padding: 32px 24px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    text-align: left;
    font-family: 'Mooli', sans-serif;
    color: #000;
}

.sub_search_header{
    width: 100%;
    margin: 12px 32px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    text-align: left;
    font-family: 'Mooli', sans-serif;
    color: #454261;
}

.list_suggest {
    text-align: left;
    list-style: none;
    margin-left: 32px;
}

.list_suggest li {
    font-family: 'Mooli', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    color: #4e4e4e;
}