{% extends 'app/base.html' %} {% load static %} {% block title %}
<title>Về chúng tôi</title>
<link rel="stylesheet" href="{% static 'app/css/notifications.css' %}" />
{% endblock title %} {% block content %}
<div class="noti">
  <h2 class="noti__heading">Về chúng tôi</h2>

  <div class="noti__content">
    <span class="noti__empty-message">Chào mừng đến với 5c Mobile!

        Tại 5c Mobile, chúng tôi tự hào là điểm đến hàng đầu cho mọi người trong cuộc hành trình tìm kiếm những trải nghiệm di động đỉnh cao. Với niềm đam mê sâu sắc với công nghệ và sứ mệnh phục vụ khách hàng tận tâm, chúng tôi đã xây dựng nên một cộng đồng mạnh mẽ xung quanh việc cung cấp các sản phẩm và dịch vụ di động chất lượng hàng đầu.
        
        5c Mobile không chỉ là một cửa hàng bán lẻ, mà là một đối tác đáng tin cậy, luôn đồng hành cùng bạn trong mỗi bước di chuyển. Chúng tôi hiểu rằng việc chọn một chiếc điện thoại không chỉ là về cấu hình và tính năng, mà còn là về sự kết nối và trải nghiệm cá nhân. Vì vậy, chúng tôi luôn sẵn lòng lắng nghe và tư vấn cho bạn lựa chọn hoàn hảo nhất, đảm bảo rằng mỗi sản phẩm bạn mua từ 5c Mobile đều là một sự đầu tư đáng giá.
        
        Với một đội ngũ chuyên nghiệp và nhiệt huyết, chúng tôi cam kết mang đến cho bạn không chỉ sản phẩm chất lượng mà còn là dịch vụ khách hàng tận tâm và linh hoạt. Sứ mệnh của chúng tôi không chỉ là bán hàng, mà còn là tạo ra những trải nghiệm đáng nhớ và thú vị trên mọi chiếc điện thoại mà chúng tôi cung cấp.
        
        </span>
  </div>
</div>
{% endblock content %}
