{% extends 'app/base.html' %} {% load static %} {% block title %}
<title>Chính sách bảo hành</title>
<link rel="stylesheet" href="{% static 'app/css/notifications.css' %}" />
{% endblock title %} {% block content %}
<div class="noti">
  <h2 class="noti__heading">Chính sách bảo hành</h2>

  <div class="noti__content">
    <span class="noti__empty-message">Thời gian bao test sản phẩm: 30 ngày đầu. Điều kiện đổi mới trong thời gian bao test:<br>
      - Nếu lỗi xác định chính xác do phần cứng (vd: Lỗi cảm ứng….) và máy không rơi vỡ vào nước, có xác nhận của Trung tâm bảo hành Ủy quyền Apple. Đổi máy mới nguyên seal khác.<br>
      - Nếu lỗi chập chờn, thi thoảng (thi thoảng mất loa, chập chờn sóng,…) cần có video quay lại lỗi và có xác nhận của Trung tâm bảo hành Ủy quyền Apple, không rơi vỡ, vào nước: Đổi máy mới nguyên seal khác.<br>
      Năm đầu: Bảo hành tại TTBH ủy quyền chính hãng hoặc tham gia 1 đổi 1 lỗi là đổi có tính phí *<br>
      Năm thứ 2: Bảo hành toàn diện phần cứng tại TTBH 5C Mobile, trừ lỗi màn hình hỗ trợ 30% chi phí thay màn. Hỗ trợ rơi vỡ, vào nước 24 tháng</span>
  </div>
</div>
{% endblock content %}
