{% extends 'app/base.html' %}
{% load static %}

{% block title %}
    <title>Tài khoản</title>
    <link rel="stylesheet" href="{% static 'app/css/profile.css' %}">
{% endblock title %}

{% block content %}
    <div class="personal">
        <!-- Form verify change email -->
        <div class="form-account">
            <div class="form">
                <div class="form__close-btn">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="form__layer">
                    
                </div>
            </div>
        </div>
        <!-- Form change avatar personal -->
        <div class="container">
            <form action="" method="POST"  class="form-avatar">
                <div class="form__close">
                    <i class="fa-solid fa-xmark"></i>
                </div>
    
                <div class="form__content">
                    <div class="form__content-heading">Chọn một ảnh làm ảnh đại diện của bạn</div>
                    <p>Xem trước avatar của bạn:</p>
                    <div class="form__content-demo">
                        <img src="{% static 'app/images/avatar-icon.png' %}">
                    </div>
                    <input type="file" name="file-avatar" id="file-avatar">
                </div>
    
                <div class="form__submit">
                    <button type="button" class="form__submit-btn">OK</button>
                </div>
            </form>
        </div>

        <!-- Form controls -->
        <div class="controls">
            <div class="info">
                <div class="info__avatar">
                    <img id="avatar" src="{{user.profile.avatarURL}}" alt="Avatar">
                    <button class="info__avatar-change" id="change-avatar">
                        <img src="{% static 'app/images/icon-camera.png' %}" alt="Sửa">
                    </button>
                </div>

                <div class="info__name">
                    <div class="info__name-fullname">{{user.profile.fullname}}</div>
                    <div class="info__name-username">@{{user.username}}</div>
                </div>
            </div>

            <div class="nav">
                <div class="nav__heading">Cài đặt tài khoản</div>
                <div class="nav__item active">Thông tin cá nhân</div>
                <div class="nav__item">Mật khẩu và bảo mật</div>
                <div class="nav__item">Thanh toán</div>
                <div class="nav__item">Điều khoản sử dụng</div>
            </div>
        </div>

        <div class="details">
            <!-- Personal infomations -->
            <div class="wrapper details__info active">
                <div class="wrapper__header">
                    <div class="wrapper__header-heading">
                        <div class="wrapper-back mobile"><i class="fa-solid fa-angle-left"></i></div>
                        Thông tin cá nhân
                    </div>
                    <div class="wrapper__header-des">
                        <p>Chúng tôi sử dụng thông tin này để xác minh danh tính và bảo vệ tài khoản của bạn.</p>
                        <p>Vui lòng cung cấp đầy đủ thông tin để chúng tôi dễ dàng lấy lại tài khoản giúp bạn khi gặp sự cố.</p>
                    </div>
                </div>

                <div class="wrapper__body">
                    <!-- Form fullname -->
                    <div class="form__group">
                        <div class="form__group-box" style="margin-bottom: 0px;">
                            <label class="form__group-heading">Họ và tên</label>
                            <p class="form__group-des">{{user.profile.fullname}}</p>
                        </div>

                        <i class="fa-solid fa-angle-right"></i>

                        <div class="form-change">
                            <div class="form__heading">Thay đổi họ tên:</div>
                            <div class="form__body">
                                <input type="text" class="form__body-input" name="fullname">
                                <button type="button" class="form__body-submit">Lưu</button>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>

                    <!-- Form username -->
                    <div class="form__group">
                        <div class="form__group-box" style="margin-bottom: 0px;">
                            <label class="form__group-heading">Tên đăng nhập</label>
                            <p class="form__group-des">{{user.username}}</p>
                        </div>

                        <i class="fa-solid fa-angle-right"></i>

                        <div class="form-change">
                            <div class="form__heading">Thay đổi tên đăng nhập:</div>
                            <div class="form__body">
                                <input type="text" class="form__body-input" name="username">
                                <button type="button" class="form__body-submit">Lưu</button>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>

                    <!-- Form email -->
                    <div class="form__group">
                        <div class="form__group-box" style="margin-bottom: 0px;">
                            <label class="form__group-heading">Email</label>
                            <p class="form__group-des">{{user.email}}</p>
                        </div>

                        <i class="fa-solid fa-angle-right"></i>

                        <div class="form-change">
                            <div class="form__heading">Thay đổi Email:</div>
                            <div class="form__body">
                                <input type="text" class="form__body-input" name="email">
                                <button type="button" class="form__body-submit">Lưu</button>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>

                    <!-- Form phone number -->
                    <div class="form__group">
                        <div class="form__group-box" style="margin-bottom: 0px;">
                            <label class="form__group-heading">Số điện thoại</label>
                            <p class="form__group-des">{{user.profile.phoneNumber}}</p>
                        </div>

                        <i class="fa-solid fa-angle-right"></i>

                        <div class="form-change">
                            <div class="form__heading">Thay đổi Số điện thoại:</div>
                            <div class="form__body">
                                <input type="text" class="form__body-input" name="phone-number">
                                <button type="button" class="form__body-submit">Lưu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Passwords and security -->
            <div class="wrapper">
                <div class="wrapper__header">
                    <div class="wrapper__header-heading">
                        <div class="wrapper-back mobile"><i class="fa-solid fa-angle-left"></i></div>
                        Mật khẩu và Bảo mật
                    </div>
                    <div class="wrapper__header-des">
                        <p>Quản lý mật khẩu, tùy chọn đăng nhập và khôi phục tài khoản.</p>
                    </div>
                </div>

                <div class="wrapper__body">   
                    <!-- Form change password -->
                    <div class="form__group">
                        <div class="form__group-box" style="margin-bottom: 0px;">
                            <label class="form__group-heading">Thay đổi mật khẩu</label>
                            <p class="form__group-des">Tạo một mật khẩu mới bảo mật hơn.</p>
                        </div>

                        <i class="fa-solid fa-angle-right"></i>

                        <div class="form-change form-change-password">
                            <div class="form__heading">Thay đổi mật khẩu:</div>
                            <div class="form__body">
                                <span class="error-message"></span>
                                <input type="password" autocomplete="off" class="form__body-input" name="password" placeholder="Nhập mật khẩu tài khoản">
                                <span class="error-message"></span>
                                <input type="password" autocomplete="off" class="form__body-input" name="new-password" placeholder="Nhập mật khẩu mới">
                                <button type="button" class="form__body-submit">Lưu</button>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>

                    <!-- Form forgot password -->
                    <div class="form__group">
                        <div class="form__group-box" style="margin-bottom: 0px;">
                            <label class="form__group-heading">Quên mật khẩu</label>
                            <p class="form__group-des">Nhập email đã đăng ký để lấy lại mật khẩu</p>
                        </div>

                        <i class="fa-solid fa-angle-right"></i>

                        <div class="form-change form-forgot-password">
                            <div class="form__heading">Lấy lại mật khẩu:</div>
                            <div class="form__body">
                                <span class="error-message"></span>
                                <input type="text" class="form__body-input" name="email-recover" placeholder="Nhập email của tài khoản.">
                                <button type="button" class="form__body-submit">Lưu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Payment -->
            <div class="wrapper">
                <div class="wrapper__header">
                    <div class="wrapper__header-heading">
                        <div class="wrapper-back mobile"><i class="fa-solid fa-angle-left"></i></div>
                        Thanh toán
                    </div>
                    <div class="wrapper__header-des">
                        <p>Thiết lập phương thức thanh toán và cập nhật địa chỉ giao hàng của bạn tại đây.</p>
                    </div>
                </div>

                <div class="wrapper__body">
                    <!-- Form shipping address -->
                    <div class="form__group">
                        <div class="form__group-box" style="margin-bottom: 0px;">
                            <label class="form__group-heading">Thay đổi địa chỉ giao hàng</label>
                            <p class="form__group-des">{{user.profile.address}}</p>
                        </div>

                        <i class="fa-solid fa-angle-right"></i>

                        <div class="form-change">
                            <div class="form__heading">Thay đổi địa chỉ giao hàng:</div>
                            <div class="form__body">
                                <input type="text" class="form__body-input" name="new-address">
                                <button type="button" class="form__body-submit">Lưu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Terms of Use -->
            <div class="wrapper terms">
                <div class="wrapper__header">
                    <div class="wrapper__header-heading">
                        <div class="wrapper-back mobile"><i class="fa-solid fa-angle-left"></i></div>
                        Điều khoản sử dụng
                    </div>
                    <div class="wrapper__header-des" id="terms-of-use">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'app/js/profile.js' %}"></script>
{% endblock content %}